.places{
    padding: 0;
    margin: 0;
    width: 78%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.places h1{
    font-size: 30px;
    width: 100%;
}
article{
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

article h2{
    font-size: 30px;
    margin-left: auto;
}

.price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;  
}

.information{
    height: 80px;
    width: 90%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.max_guest{
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
}
.number_rooms{
    background-image: url("../images/icon_bed.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.number_bathrooms{
    background-image: url("../images/icon_bath.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.user{
    margin-top: 40px;
    width: 90%;
    margin-right: auto;
}


/* AMETITIES */
.amenitiies{
    width: 100%;
    margin-top: 30px;
}
.amenitiies h2{
    margin-right: auto;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    height: 30px;
}

.amenitiies ul{
    /* border: 1px solid black; */
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;

}

/* ICONS */
.amenitie1{
    background-image: url("../images/icon_tv.png");
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
}
.amenitie2{
    background-image: url("../images/icon_wifi.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.amenitie3{
    background-image: url("../images/icon_pets.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}


.amenitie4{
    background-image: url("../images/gym_icon.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 46px;
}
.amenitie5{
    background-image: url("../images/transport_icon.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 50px;
    height: 45px;
}
.amenitie6{
    background-image: url("../images/people_icon.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 45px;
}


.amenitie7{
    background-image: url("../images/home_icon.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.amenitie8{
    background-image: url("../images/pool_icon.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}


.amenitiies ul p{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    width:80%;
    margin-left: 15px;
}

/* End icons */
/* End amanities */






.reviews{
    margin-top: 40px;
    width: 100%;
}
.reviews ul{
    /* border: 1px solid black; */
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;

}
.reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    height: 30px;

}
.reviews h3{
    font-size: 14px;
}
.reviews p{
    font-size: 12px;
}